
<section class="section section-dark">
    <h2 class="section-title">Sobre mim</h2>
    <div class="section-content">
      <p>Você pode me acompanhar nos seguintes sites:</p>
      <a href="https://www.linkedin.com/in/rafael-monteiro-zancanaro-288208185/" style="margin-right: 5px" target="_blank" class="button button-secondary">
        <i class="fa fa-linkedin-square" style="font-size:20px" aria-hidden="true"></i> Linkedin
      </a>
      <a href="https://github.com/Rafael-monteiro-zancanaro" style="margin-right: 5px" target="_blank" class="button button-secondary">
        <i class="fa fa-github" style="font-size:20px" aria-hidden="true"></i> Github
      </a>
      <a href="https://gitlab.com/Rafael_Monteiro" style="margin-right: 5px" target="_blank" class="button button-secondary">
        <i class="fa fa-gitlab" style="font-size:20px" aria-hidden="true"></i> Gitlab</a>
      <a href="https://gitlab.com/Rafael_Monteiro" style="margin-right: 5px" target="_blank" class="button button-secondary">
        <i class="fa fa-music" style="font-size:20px" aria-hidden="true"></i> MusicBoard</a>
    </div>

  </section>


<router-outlet></router-outlet>
