
<section class="section section-dark">
  <h2 class="section-title">👋🏽 Olá Meu nome é <b>Rafael Monteiro Zancanaro</b></h2>
  <div class="section-content">
    <img class="image" src="assets/img/homephoto.jpg">
    <p>Comecei a programar desde os 15 anos e programo profissionalmente desde 2020 ({{ calcularTempoServico() + ' anos'}})</p>
    <p>Trabalhei majoritariamente como <b>Desenvolvedor fullstack Spring boot/Angular</b> 
      Mas sempre estou aberto a novos desafios!
    </p>
  </div>
</section>

<section class="section">
  <h2 class="section-title">Linguagens que trabalhei 👨🏽‍💻</h2>
  <app-carrousel

  ></app-carrousel>

</section>

<section class="section">
<h2 class="section-title">Experiências</h2>
<app-timeline>
</app-timeline>
</section>


<router-outlet></router-outlet>
